:root {
  --bs-font-sans-serif: 'Rubik', 'Lobster', 'Salsa', sans-serif;
}

.container-xxl {
  max-width: 1600px;
}

.body {
  margin: 0;
  background: #e4caf5;
  background: linear-gradient(52deg, rgba(243, 214, 249, 0.6) 0%, rgba(83, 146, 240, 0.6) 100%);
  color: #333520;
}

.body .main-logo {
  font-family: 'Salsa';
  font-size: 2.5rem;
  color: #54bdcf;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.body .main-logo:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  color: #1ac4e2;
}

.body .main-logo img {
  border-radius: 300px;
  background: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

a {
  color: #333520;
  text-decoration: none;
}

a:hover {
  color: #1ac4e2;
}

.language {
  font-family: 'Rubik';
  text-decoration: none;
  color: #333520;
}

.link-sec-nuc {
  color: #333520;
}

.link-sec-nuc:hover {
  color: #1ac4e2;
}

.category__link {
  text-align: center;
  display: block;
  color: #333520;
  text-decoration: none;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

.category__link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-decoration: none;
  cursor: pointer;
}

.category__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  margin-bottom: 10px;
  border: 1px solid #e0f7ff;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 8px;
}

.category__img--large {
  height: 330px;
}

.category__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-left {
  max-width: 300px;
  max-height: 375px;
}

.contact-center {
  max-width: 380px;
  max-height: 385px;
}

.contact-right {
  max-width: 430px;
  max-height: 375px;
}

.btn-last:hover {
  color: white;
}

.btn-random {
  background-color: darkgrey;
}

.btn-random.btn-random:hover {
  background-color: #434343;
  color: white;
}

.main-articule {
  color: #333520;
  font-size: 1.25rem;
  font-weight: 300;
}

.info-about-us {
  color: #333520;
  font-size: 1.25rem;
  font-weight: 300;
}

.logo-img {
  width: 120px;
  height: 85px;
}

.nav {
  font-size: 1.25rem;
  margin-bottom: 8px;
}

.nav-nuc {
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.main-nuc {
  margin-top: 8%;
}

.language {
  font-size: 1.25rem;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
  border: 1px solid #e0f7ff;
  border-radius: 10px;
}

@media (max-width: 764px) {
  .body .main-logo {
    font-size: 1.5rem;
  }
  .body .logo-img {
    width: 50px;
    height: 35px;
  }
  .body img {
    border-radius: 300px;
  }
  .nav {
    font-size: 1rem;
    margin-bottom: 0px;
  }
  .nav-nuc {
    font-size: 0.4rem !important;
  }
  .language {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */