:root {
  --bs-font-sans-serif: 'Rubik', 'Lobster', sans-serif;
}

.container-xxl {
  max-width: 1600px;
}

$bg-color: linear-gradient(
  52deg,
  rgba(243, 214, 249, 1) 0%,
  rgba(127, 134, 244, 1) 100%
);

$font-color: rgb(51, 53, 32);

.body {
  background: rgb(228, 202, 245);
  background: $bg-color;
  color: $font-color;
  // background-image: url('./bg.svg');
  // background-attachment: fixed;
  // background-size: cover;
}

a {
  color: var(-bs-dark);
}
.main-logo {
  font-family: 'Lobster';
  font-size: 2.5rem;
  color: rgb(64, 174, 233);
  transition: 0.25s;
}
.main-logo:hover {
  transform: scale(1.02);
  color: rgb(64, 174, 233);
}
.main-logo img {
  border-radius: 300px;
  background: none;
  transition: 0.6s;
}

.category__link {
  text-align: center;
  display: block;
  color: $font-color;
  text-decoration: none;
  transition: 0.25s all;
}

.category__link:hover {
  transform: scale(1.1);
  text-decoration: none;
}

.category__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
  border: 1px solid #e0f7ff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 8px;
}

.category__img--large {
  height: 330px;
}

.category__img img {
  width: 100%;
  object-fit: cover;
}

.contact-left {
  max-width: 300px;
  max-height: 375px;
}
.contact-center {
  max-width: 380px;
  max-height: 385px;
}
.contact-right {
  max-width: 430px;
  max-height: 375px;
}
